{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Game</h1>

        <table>
            <tr>
                <th>iron</th>
                <th>petrol</th>
                <th>uranium</th>
                <th>gold</th>
                <th>sand</th>
                <th>steel</th>
                <th>coal</th>
            </tr>
            <tr>
                <td> {{ production['iron'] }} </td>
                <td> {{ production['petrol'] }} </td>
                <td> {{ production['uranium'] }} </td>
                <td> {{ production['gold'] }} </td>
                <td> {{ production['sand'] }} </td>
                <td> {{ production['steel'] }} </td>
                <td> {{ production['coal'] }} </td>
            </tr>
        </table>

        <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ game.startDate ? game.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_USER') and gameAccess.canJoinGame(user, game) %}
        <a href="{{ path('game_join', {'id': game.id}) }}">Join game</a>
    {% endif %}

    <canvas id="game-canvas" width="{{ 10*game.size }}" height="{{ 10*game.size }}" style="border:1px solid #000000;"></canvas>

    <a href="{{ path('game_index') }}">back to list</a>

    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>

    {{ include('game/_delete_form.html.twig') }}

    {{ dump() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        let c = document.getElementById("game-canvas");
        let ctx = c.getContext("2d");
        ctx.moveTo(0, 0);

        {% for region in game.regions %}

            {% if region.biome == 0 %}
                ctx.fillStyle = 'blue';
            {% elseif region.biome == 1 %}
                ctx.fillStyle = 'green';
            {% elseif region.biome == 2 %}
                ctx.fillStyle = 'darkgreen';
            {% elseif region.biome == 3 %}
                ctx.fillStyle = 'purple';
            {% elseif region.biome == 4 %}
                ctx.fillStyle = 'yellow';
            {% elseif region.biome == 5 %}
                ctx.fillStyle = 'gray';
            {% else %}
                ctx.fillStyle = 'green';
            {% endif %}

            ctx.fillRect({{ 10*region.x }}, {{ 10*region.y }}, 10, 10);
        {% endfor %}

        ctx.stroke();

        c.addEventListener('click', event => {
            const x = Math.trunc((event.x - c.offsetLeft)/10);
            const y = Math.trunc((event.y - c.offsetTop)/10);
            window.location = '/game/{{ game.id }}/region/' + x + '/' + y;
        });
    </script>

{% endblock %}
